html, body, #root, #App {
height: 100%;
}

body {
    margin: 0;
}

.openModalBtn {
    background-color: #FF0077;
    color: #fff;
    border: 1px solid #FF0077;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    z-index: 15;
    position: fixed;
    right: 20%;
    bottom: 20%;
}
.openModalBtn:hover {
    background-color: #d90065;
    border:#d90065 1px solid;
}
button {
    width: 110px;
    padding: 10px 5px;
    border-radius: 8px;
    background-color: #ff0077;
    color: #FFf;
    font-family: 'Poppins';
    font-weight: 600;
}